.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.part {
  display: flex;
  background-color: #f8f8f8;
  height: 675px;
  width: 449px;
  margin: 24px 0px 0px 24px;
  border-radius: 26px 26px 26px 26px;
}

.orange {
  display: flex;
  width: 449px;
  height: 84px;
  background-color: #fba422;
  border-radius: 26px 26px 0px 0px;
  align-items: center;
  justify-content: center;
}
.orange p {
  margin: 0px 0px 0px 135px;
  font-size: 24px;
  font-weight: 400;
}

.btn {
  background-color: #fba422;
  border: none;
  font-size: 20px;
  margin: 8px 0px 0px 2px;
  padding: 0px 0px 0px 132px;
}

.btn:hover {
  color: #f8f8f8;
}
